
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#external-events {
  z-index: 2;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  border: rgba(87, 0, 99, 0.384);
  background:  rgba(87, 0, 99, 0.384);
  margin: 1.1em 0;
  padding: 3px;
 
}
 
a {
  color: white !important;
  border: rgba(87, 0, 99, 0.384)!important;
  background: rgba(87, 0, 99, 0.384) !important;
  padding: 3px !important;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;

}

#calendar {
  max-width: 100%;
  margin: 20px auto;
}
  
.button {
  margin: 3px;
}

.form-control {
  margin: 5px auto;
}

.form-label {
  margin: 5px auto;
}

#calendarModal {
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.required {
  color: red;
}

#deleteEvent{
  margin-right: 80px;
}

#editModalHeader{
  background-color: rgba(87, 0, 99, 0.384) !important;
}

#modalErrorText{
  font-size: 12px;
  color: red;
  margin: 0;
}

#required-description{
  margin: 0;
}

#editModalBody {
  padding-bottom: 0;
}

#editModalFormGroup {
  margin-bottom: 8px;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.modal-backdrop {
  z-index: 1 !important;
}

#addStu, #deleteStu, #addBtn, #deleteBtn {
  color: white !important;
  border:  rgba(87, 0, 99, 0.384) !important;
  background:   rgba(87, 0, 99, 0.384) !important;
  margin: 5px;
}

.navbar-brand {
  font-size: 30px;
}

span {
  display: inline-block;
}


.fc-button {
  background-color: #2b2d42;
  border: #2b2d42;
}

.fc-prev-button:hover .fc-icon-chevron-left, 
.fc-next-button:hover .fc-icon-chevron-right {
  color: #deaaff;
}


#smoslHeader {
  text-align: center;
  color:  rgba(87, 0, 99, 0.384);
}

.jumbotron {
  background-color: white;

}
