
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#external-events {
  position: fixed;
  z-index: 2;
  top: 70px;
  left: 20px;
  width: 13%;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  border: rgba(128, 0, 128, 0.425);
  background:  rgba(128, 0, 128, 0.425);
  margin: 1.1em 0;
  cursor: move;
  padding: 3px;
}
 
a {
  color: white !important;
  border: rgba(128, 0, 128, 0.425) !important;
  background:  rgba(128, 0, 128, 0.425) !important;
  padding: 3px !important;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;

}

#calendar {
  max-width: 900px;
  margin: 20px auto;
}

svg {
  z-index: 3;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

svg:hover + .bi {
  filter: none;
  -webkit-filter: grayscale(0%);
    display: inline-block;
    }
  
.button {
  margin: 3px;
}

.form-control {
  margin: 5px auto;
}

.form-label {
  margin: 5px auto;
}

#calendarModal {
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}